body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-header {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.logo-img {
  height: auto;              /* Hauteur contrôlée */
  width: auto;               /* Garde les proportions */
  object-fit: contain; 
  margin-left: 50px; 
}

.logout-btn {
  background-color: #007f00;
  color: white;
  border: none;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  
}

.dashboard-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.2s, border 0.3s ease;
  border: 2px solid transparent;
}

.card:hover {
  transform: translateY(-5px);
  border-color: #28a745;
  background-color: #e8f5e9; 
}


.card-icon {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.card-btn {
  background-color: #1e7e34;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
